services:
  backend:
    build:
      context: .
      dockerfile: ./dockerfile
      network: host
      secrets:
        - db
    hostname: backend
    env_file: ".env"
    ports:
      - 6942:6942
    networks:
      - backend
      
  timescaledb:
    image: timescale/timescaledb:latest-pg17
    hostname: timescaledb
    env_file: ".env"
    ports:
      - 5454:5432
    networks:
      - backend
      
networks:
  backend:
    driver: bridge
    
secrets:
  db:
    file: ./db_url.txt
